<!DOCTYPE html>
<html lang="en">
<head>
    <title>ASTWriter</title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    
    <link rel="apple-touch-icon" sizes="128x128" href="favicon.ico">
    <link rel="icon" sizes="192x192" href="favicon.ico">
	
    <!-- Web Application Manifest -->
	<!-- <link rel="manifest" href="manifest.webmanifest"> -->
	
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="application-name" content="ASTWriter">
	<meta name="theme-color" content="#40cf51">
	
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="ASTWriter">
	<meta name="apple-mobile-web-app-status-bar-style" content="#40cf51">
	
	<!-- Tile icon for Win8 -->
	<meta name="msapplication-TileColor" content="#40cf51">
	<meta name="msapplication-navbutton-color" content="#40cf51">
</head>

<body style="text-align: center;">
<img src="assets/img/logo.png" />
<h1 align="center" style="font-family: monospace; color: greenyellow; text-shadow: blueviolet 5px 5px 5px;">ASTWriter</h1>
<h1 align="center" >Errcode: 404 <br/> Errtext: Existential Crisis!</h1>
<button style="color: greenyellow; border-radius: 4rem; border: solid grey 3px; background-color: green; font-size: 32px;" onclick="window.location.href=window.location.origin;">Let's go to Home!</button>
<div style="text-align: center;">
	<span  style="font-size: 12px; color: white; background-color: grey;"> Copyright &copy; <script>document.write(new Date().getFullYear())</script> <a target="_blank" href="https://XinYaanZyoy.github.io" style="text-decoration: none; color: black;"> XinYaanZyoy(心言自由) The Helper Boy </a></span>
</div>
</body>

</html>